.logo{

height: 50px;
margin-left: 20px;
margin-top: 30px;

}
h1{

font-family: Arial;
font-size: 70px;
margin-left: 60px;

}
h2{

    font-family: Arial;
    font-size: 30px;
    margin-left: 60px;
    }
    button{
        margin-left: 60px;
width: 250px;
height: 40px;
border-radius: 20px;
border-style: solid;
border-color:lightgray;
background-color: white;
font-weight: bold;
font-family: arial;
text-align:center;
    }
p{
    margin-left: 60px;
}

terminos{
font-size: 12px;
width: 350px;

}
cuenta{
    font-size: 15px;
}
a{
    text-decoration: none;
color: lightskyblue;
}
footer{
text-align: center;

}