<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #79c9c9;">
    <div class="container-fluid">            
        <img src="https://media.discordapp.net/attachments/910968996650713178/912440990307065896/Tecla.jpg" alt="Logo" width="50" height="50" class="d-inline-block align-text-top"/>

        <a class="navbar-brand" href="./index(1).html">SOCIAL TECLA 2021!</a>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        </div>
    </div>
</nav>