.container{
    margin-top: 5%;

}
.row{
    justify-content: space-between;
}
body{
    background-color:  #ccffff;
}
.boton{
    border-radius: 10px;
    background-color: azure;
    border:3px solid lightgray;
}
.boton:active{
    color: white;
    background-color: darkgray;
    border:3px solid #ccffff;
}
img {
    border-radius: 50%;
}