body{
    
    background-color:  #ccffff;
}
nav{
    position: fixed;
}
.card-body{
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}
.container{
    padding-top: 5%;
}
#Info{
    background-color:  #ccffff;
    padding:5%;
    border:3px solid white;
    border-radius: 20px;
}
#horario{
    background-color:  #ccffff;
    border:3px solid #a1c9c9;

}
.titulo{
    font-weight: bolder;
    font-size: 140%;
    text-align: center;
}
.card-footer{
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
}